<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dynamically-Import</title>
</head>
<body>
<h1>Dynamically-Import</h1>
<a href="javascript:void(0);" id="mods">mod</a>
</body>
<script  src="<%= webpackConfig.output.publicPath %>js/app.js"></script>
</html>